.DS_Store
.ios-build-work/
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/MemoryCaptures/
**/*.csproj
**/*.sln
**/*.slnx
**/*.user
**/*.p12
**/*.mobileprovision
**/*.keystore
**/*.blend1
**/.vs/
**/.idea/
**/.vscode/
/*.png
/art/**
!/art/woolly/
!/art/woolly/Woolly_Unity_AnimationSource_v4.blend
/*.cs
/*-command.json
/unity-commands.json
/*.log
